body {
  padding-top: 30px;
}
.gsc-input-box {
  border: none !important;
}
.page-header {
  overflow: hidden;
  /* clear floats */
}
.page-header div {
  float: right;
  /* float search content right */
}
.input-prepend input {
  float: left;
}
.gsc-control-cse {
  height: 20px !important;
  padding: 0px !important;
}
.search-bar {
  padding-bottom: 20px;
}
.header {
  margin-bottom: 40px;
}
.inverse {
  color: #FFF;
  background-color: #000;
}
.carousel-inner p {
  padding: 20px;
  font-size: smaller;
  text-align: center;
}
