@import url(http://fonts.googleapis.com/css?family=Lato:300,700|Arvo:400,700,400italic);
body {
  padding-top: 30px;
  background-color: #f9f7f2;
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11pt;
  font-weight: 100;
}
h1,
h2,
h3,
h4,
.lead,
.btn,
.nav {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.page {
  padding-bottom: 80px;
}
.page h1 {
  border-bottom: 1px #000 solid;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
.navbar .navbar-inner {
  background: none;
  background-color: #f9f7f2;
  border: none;
}
.navbar .navbar-inner .active a {
  background-color: #fdab3b;
  color: #FFF;
}
.gsc-input-box {
  border: none !important;
}
.page-header {
  overflow: hidden;
  /* clear floats */
}
.page-header div {
  float: right;
  /* float search content right */
}
.input-prepend input {
  float: left;
}
.gsc-control-cse {
  height: 20px !important;
  padding: 0px !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.gsc-input-box {
  background-color: transparent !important;
}
.search-bar {
  padding-bottom: 20px;
}
.header {
  margin-bottom: 40px;
}
.inverse {
  color: #FFF;
  background-color: #000;
}
.center {
  text-align: center;
}
.underline {
  border-bottom: 1px #000 solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.btn {
  text-transform: uppercase;
  background-color: #DDD;
  padding: 10px 20px;
  letter-spacing: 2px;
  cursor: pointer;
  background-image: none;
  text-shadow: none;
  border: none;
}
.btn a {
  color: #FFF;
}
.btn a:hover,
.btn a:focus {
  color: white;
}
.btn-primary {
  background-color: #3c3c38;
  color: #FFF;
}
.btn-primary:hover {
  background-color: #a2a2a2;
}
.header .btn {
  padding: 3px 10px;
  background-color: #eeeeee;
  color: #3c3c38;
  border: 1px #999 solid;
}
.footer {
  padding-bottom: 100px;
}
.footer .container {
  padding-top: 100px;
}
.footer a {
  color: #999;
}
.paddeditem {
  padding: 80px 0px;
}
.paddeditem h1 {
  margin-bottom: 20px;
}
.inverse a {
  color: #999;
}
.img-blurb {
  height: 180px;
  overflow: hidden;
}
.img-blurb h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.background1 {
  background-color: #f9f7f2;
}
.background2 {
  background-color: #f6b13b;
  color: #FFF;
}
.background2 .lead {
  border-top: 1px #FFF solid;
  border-bottom: 1px #FFF solid;
  padding: 20px 40px;
  margin: 20px 0px;
  color: #666;
  font-size: 20pt;
}
.background2 .shadow-down {
  height: 27px;
  background: url(/resources/images/shadow-down.png) repeat-x 0 0;
}
.background2 .shadow-up {
  height: 27px;
  background: url(/resources/images/shadow-up.png) repeat-x 0 0;
}
.background3 {
  background-color: #f9f7f2;
}
.background-peach {
  background-color: #feddb1;
}
.background4 {
  background-color: #e7593f;
  color: #FFF;
}
.background4 .shadow-down {
  height: 27px;
  background: url(/resources/images/shadow-down.png) repeat-x 0 0;
}
.background4 .shadow-up {
  height: 27px;
  background: url(/resources/images/shadow-up.png) repeat-x 0 0;
}
.background5 {
  background-color: #FFF;
}
.background6 {
  background-color: #0066ac;
  color: #FFF;
}
.background6 .shadow-down {
  height: 27px;
  background: url(/resources/images/shadow-down.png) repeat-x 0 0;
}
.background6 .shadow-up {
  height: 27px;
  background: url(/resources/images/shadow-up.png) repeat-x 0 0;
}
.background7 {
  background-color: #f1eee0;
}
.background8 {
  background-color: #f9f7f2;
}
.background8 .shadow-down {
  height: 27px;
  background: url(/resources/images/shadow-down.png) repeat-x 0 0;
}
.footer {
  background-color: #3c3c38;
  color: #FFF;
}
.footer .shadow-down {
  height: 27px;
  background: url(/resources/images/shadow-down.png) repeat-x 0 0;
}
.carousel-inner p {
  padding: 20px;
  font-size: 12pt;
  text-align: center;
}
.carousel-inner .img-container {
  height: 580px;
  overflow: hidden;
}
.carousel-inner img {
  margin-top: -50%;
  padding-top: 450px;
  background-color: #000;
}
.carousel-inner {
  background-color: #000;
}
.carousel-inner .img-blurb {
  margin-top: -45px;
  color: #FFF;
  background-color: rgba(9, 9, 9, 0.5);
  position: absolute;
  text-align: center;
}
.carousel-inner .img-blurb a {
  color: #CCC;
}
@-webkit-keyframes slideup {
  from {
    margin-top: -45px;
  }
  to {
    margin-top: -180px;
  }
}
.fpitem {
  padding: 80px 0px;
  text-align: center;
}
.fpitem ul,
.fpitem ol {
  text-align: left;
}
.fpitem h1 {
  margin-bottom: 20px;
}
.fpitem-2013-04-30-the-competition-has-x-themes ul {
  list-style-type: none;
}
.fpitem-2013-04-30-the-competition-has-x-themes ul li {
  background-color: #f6b13b;
  color: #000;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  margin-left: 200px;
}
.fpitem-2013-04-30-judging-criteria ol {
  list-style-position: inside;
}
.fpitem-2013-04-30-judging-criteria ol li {
  color: #FFF;
  font-size: 15pt;
  line-height: 180%;
  background-color: #E7593F;
  padding: 5px 20px;
  min-height: 35px;
  margin-bottom: 10px;
}
.fpitem-2013-04-30-judging-criteria ol li p {
  display: inline;
}
.fpitem-2013-04-30-judging-criteria ol li p a {
  color: #FFF;
}
.icon-round-bg {
  background: url(/resources/images/icons/circle.png) no-repeat 0 0;
  width: 142px;
  height: 142px;
  display: block;
}
.icons img {
  width: 120px;
}
.icon-stories {
  display: block;
}
.icon-stories li {
  width: 140px;
  height: 188px;
  background: url(/resources/images/icons/speechbubble.png) no-repeat 0 0;
  padding-top: 10px;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.icon-stories li img {
  padding: 0px 25px 55px 25px;
}
textarea {
  height: 200px;
}
.postal {
  height: 100px;
}
.btn-submit {
  margin-top: 40px;
}
